/* Text options */
h4 {
	margin: 5px;
}
strike.dead {
	color: #E90909;
}

/* Divs */
#used {
	margin: 1px;
	padding: 1px;
}
#div-left {
	float: left;
	width: 50%;
}
#div-right {
	overflow: hidden;
}
#use-container {
	overflow: auto;
}

/* Buttons */
button.team-alive, button.team-dead {
	background: none;
	border: none;
}
button.team-alive:disabled {
	color: #238943;
}
button.team-dead:disabled {
	text-decoration: line-through;
	color: #E90909;
}
