/* Text options */
h4 {
	margin: 5px;
}
strike.dead {
	color: #E90909;
}

/* Divs */
#used {
	margin: 1px;
	padding: 1px;
}
#div-left {
	float: left;
	width: 50%;
}
#div-right {
	overflow: hidden;
}
#use-container {
	overflow: auto;
	-webkit-column-count: 5; /* Chrome, Safari, Opera */
	-webkit-column-gap: 20px;
	-webkit-column-fill: auto;
	-moz-column-count: 5; /* Firefox */
	-moz-column-gap: 20px;
	-moz-column-fill: auto;
	column-count: 5;
	column-fill: auto;
	column-gap: 20px;
}

/* Buttons */
button.team-alive, button.team-dead {
	background: none;
	border: none;
}
button.team-alive:disabled {
	color: #238943;
}
button.team-dead:disabled {
	text-decoration: line-through;
	color: #E90909;
}
button#reset-button {
	float: right;
}
